
#rolcarnet{
    font-size: 2em;
    color: #39A900
}

#divrow{
    width: 10px;
    height: 700px;
    background-color: #39A900
}

.container {
    padding: 16px;
}

.padding{
    padding: 12px;
}

@media (min-width: 701px) {

    #logoCarnet{
        Height: 300px!important;
        width: 320px;
    }

    #FotoCarnet{
        Height: 300px;

    }

    #carnetrol{
        font-size: 12px;
    }

}

@media (max-width: 700px) {

    #logoCarnet{
        Height: 150px;
        align-items: right;
    }

    #FotoCarnet{
        Height: 200px;
        width:180px
    }

    #rolcarnet{
        font-size: 12px;
        padding: 6px;
    }
}

@media (max-width: 600px) {

    #logoCarnet{
        Height: auto;
        padding: 0px;
    }

    #FotoCarnet{
        Height: 200px;
        width: 180px;

    }

    .containerfotocarnet{
        overflow: hidden;

    }

    #rolcarnet{
        font-size: 20px;
        padding: 6px;
    }

}

@media (max-width: 500px) {

    #logoCarnet{
        Height: auto;
        padding: 0px;
    }

    #FotoCarnet{
        Height: 180px;
        width: 160px;

    }

    .containerfotocarnet{
        overflow: hidden;

    }

    #rolcarnet{
        font-size: 20px;
        padding: 6px;
    }

}

@media (max-width: 400px) {

    #logoCarnet{
        Height: auto;
        padding: 0px;
    }

    #FotoCarnet{
        Height: 160px;
        width: 140px;

    }

    .containerfotocarnet{
        overflow: hidden;

    }

    #rolcarnet{
        font-size: 20px;
        padding: 6px;
    }

}

@media (max-width: 375px) {

    #logoCarnet{
        Height: auto;
        padding: 0px;
    }

    #FotoCarnet{
        Height: 135px;
        width: 115px;

    }

    .containerfotocarnet{
        overflow: hidden;

    }

    #rolcarnet{
        font-size: 20px;
        padding: 6px;
    }

}
@media (max-width: 300px) {

    #logoCarnet{
        Height: auto;
        padding: 0px;
    }

    #FotoCarnet{
        Height: 95px;
        width: 75px;

    }

    .containerfotocarnet{
        overflow: hidden;

    }

    #rolcarnet{
        font-size: 20px;
        padding: 6px;
    }

}
