body{
    margin: 0;
    padding: 0;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Sena_Colombia_logo.svg/2090px-Sena_Colombia_logo.svg.png);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}